*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

header {
    background-color: #222;
    padding: 10px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        display: block;
        padding: 10px;
        font-size: 24px;
        color: #fff;

        &:hover {
            background-color: #444;
        }
    }

    nav {
        ul {
            display: flex;
            gap: 40px;
        }
    }
}